@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 900;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-Black.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-Black.woff) format("woff");
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 800;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-Bold.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-Bold.woff) format("woff");
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 600;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-SemiBold.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-SemiBold.woff) format("woff");
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 400;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-Medium.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-Medium.woff) format("woff");
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 300;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-Regular.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-Regular.woff) format("woff");
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 200;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-Light.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-Light.woff) format("woff");
}

@font-face {
  font-family: 'SweiSpringCJKjp';
  font-weight: 100;
  src: url(../fonts/CJK_JP/SweiSpringCJKjp-ExtraLight.woff2) format("woff2"), url(../fonts/CJK_JP/SweiSpringCJKjp-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: 'Avignonpro';
  src: url(../fonts/Avignonpro/avignon_pro-book-webfont.woff2) format("woff2"), url(../fonts/Avignonpro/avignon_pro-book-webfont.woff) format("woff");
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

input, button, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .popup_content.popup_img {
  width: 600px;
  height: 600px;
  padding: 50px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_img {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_mov, .popup .popup_content iframe {
  width: 1080px;
  height: 608px;
  outline: 10px solid #fff;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 800px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 640px;
    height: 362px;
  }
}

@media (max-width: 660px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 400px;
    height: 226px;
  }
}

@media (max-width: 420px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 280px;
    height: 157px;
  }
}

.popup .popup_content.popup_code {
  width: 500px;
  height: 500px;
  padding: 20px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.photo .pc {
  display: block;
}

.photo .mob {
  display: none;
}

@media (max-width: 960px) {
  .photo .pc {
    display: none;
  }
  .photo .mob {
    display: block;
  }
}

h3 {
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  letter-spacing: 5px;
}

h4 {
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
}

h5 {
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-size: 26px;
  line-height: 2.25;
  font-weight: 300;
  letter-spacing: 1px;
}

p {
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-size: 18px;
  line-height: 2;
  font-weight: 100;
  margin-top: 16px;
  letter-spacing: 1px;
}

.year {
  width: 100%;
  font-family: "Avignonpro", serif;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  opacity: 0.6;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 0;
}

.title_en {
  font-family: "Avignonpro", serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 2px;
  opacity: 0.6;
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
}

section {
  position: relative;
}

.bg_title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.04;
  z-index: 0;
}

.container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  display: table;
}

@media (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

.themepage_top {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themepage_top.themepage_top_aboutus {
  height: 540px;
  background-image: url(../img/aboutus_titlebg.jpg);
  padding-top: 270px;
}

@media (max-width: 1080px) {
  .themepage_top.themepage_top_aboutus {
    height: auto;
    padding: 200px 0 160px;
  }
}

.themepage_top.themepage_top_news {
  height: 540px;
  background-image: url(../img/news_titlebg.jpg);
  padding-top: 180px;
}

.themepage_top.themepage_top_news {
  height: 540px;
  background-image: url(../img/news_titlebg.jpg);
  padding-top: 270px;
}

.themepage_top.themepage_top_newspage {
  height: 346px;
  background-image: url(../img/newspage_titlebg.jpg);
  padding-top: 180px;
}

.themepage_top.themepage_top_works {
  height: 540px;
  background-image: url(../img/works_titlebg.jpg);
  padding-top: 270px;
}

.themepage_top.themepage_top_workspage {
  height: 346px;
  background-image: url(../img/workspage_titlebg.jpg);
  padding-top: 180px;
}

.themepage_top.themepage_top_contactus {
  height: 540px;
  background-image: url(../img/contactus_titlebg.jpg);
  padding-top: 270px;
}

.content {
  width: 100%;
  display: table;
}

.content.themepage_content_aboutus {
  padding: 156px 0;
  background: #0d0d0d;
}

.content.themepage_content_news {
  padding: 140px 0 100px;
  background: #0d0d0d;
}

.content.themepage_content_works, .content.themepage_content_workspage {
  padding: 140px 0 124px;
  background: #0d0d0d;
}

@media (max-width: 1080px) {
  .content.themepage_content_works, .content.themepage_content_workspage {
    padding: 108px 0 96px;
  }
}

.content.themepage_content_contactus {
  padding: 156px 0;
  background: #0d0d0d;
}

@media (max-width: 1080px) {
  .content.themepage_content_contactus {
    padding: 0 0 80px;
  }
}

.themepage_topic {
  width: 340px;
  float: left;
}

@media (max-width: 960px) {
  .themepage_topic {
    width: calc(365/1030*100%);
  }
}

@media (max-width: 680px) {
  .themepage_topic {
    width: 100%;
  }
}

.themepage_topic h3, .themepage_topic .title_en {
  text-align: left;
}

.themepage_topicinfo {
  width: calc(100% - 340px);
  float: right;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: -8px;
  letter-spacing: 2px;
}

@media (max-width: 960px) {
  .themepage_topicinfo {
    width: calc(665/1030*100%);
  }
}

@media (max-width: 680px) {
  .themepage_topicinfo {
    width: 100%;
    margin-top: 40px;
  }
}

.link {
  margin-top: 32px;
  display: inline-block;
  position: relative;
  opacity: 0.6;
}

@media (max-width: 960px) {
  .link {
    display: block;
    margin: 32px auto 0;
    width: 102px;
  }
}

.link a {
  font-family: "Avignonpro", serif;
  font-size: 18px;
  line-height: 1.8;
  color: #ffffff;
  letter-spacing: 2px;
}

.link_underline:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.link_border {
  width: 246px;
  border: 1px solid #ffffff;
  border-radius: 21px;
}

.link_border a {
  line-height: 2.2;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  z-index: 2;
}

.link_border:before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

.link_border:after {
  display: none;
}

.link_border:hover a {
  color: #000;
}

.link_border:hover:before {
  width: 100%;
}

.link_center_bottom {
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
  padding: 66px 108px;
  overflow: hidden;
}

@media (max-width: 1400px) {
  header {
    padding: 66px 40px;
  }
}

@media (max-width: 1080px) {
  header {
    padding: 40px;
  }
}

header .logo {
  float: left;
}

header .logo a {
  font-size: 30px;
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 600;
  letter-spacing: 8px;
}

header nav {
  float: right;
  overflow: hidden;
}

header nav ul {
  float: left;
  overflow: hidden;
}

@media (max-width: 1080px) {
  header nav ul {
    display: none;
    max-width: 50%;
    float: unset;
    position: fixed;
    right: 0;
    top: 0;
    background: #252525;
    padding: 72px 60px;
  }
}

header nav ul li {
  float: left;
  padding: 0 44px;
  font-size: 20px;
}

@media (max-width: 1080px) {
  header nav ul li {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: relative;
  }
}

header nav ul li:last-child {
  padding-right: 0;
}

header nav ul li a {
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  line-height: 30px;
  letter-spacing: 5px;
}

header nav ul li + li {
  border-left: 1px solid #ffffff;
}

@media (max-width: 1080px) {
  header nav ul li + li {
    border-left: 0;
  }
  header nav ul li + li:before {
    content: "";
    width: 100%;
    height: 1px;
    background: url(../img/line.png) center top no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    display: block;
  }
}

header nav #menu-toggle {
  height: 30px;
  background-color: transparent;
  float: right;
  padding: 0;
  display: none;
}

@media (max-width: 1080px) {
  header nav #menu-toggle {
    display: block;
  }
}

header nav #menu-toggle span {
  display: block;
  width: 34px;
  height: 2px;
  margin: 6px 0;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header nav #menu-toggle:hover {
  cursor: pointer;
}

header nav #menu-toggle.active span:nth-child(2) {
  background-color: transparent;
}

header nav #menu-toggle.active span:nth-child(1) {
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
  margin-top: 10px;
}

header nav #menu-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  margin-top: -16px;
}

header nav #menu-toggle.active h6 {
  opacity: 0;
  visibility: hidden;
}

footer {
  background: #252525;
  padding: 60px 108px;
  overflow: hidden;
}

@media (max-width: 1400px) {
  footer {
    padding: 60px 40px;
  }
}

footer nav {
  float: left;
}

@media (max-width: 1080px) {
  footer nav {
    float: unset;
    width: 100%;
    margin-top: 28px;
    text-align: center;
  }
}

footer nav ul {
  overflow: hidden;
}

@media (max-width: 1080px) {
  footer nav ul {
    display: inline-block;
    margin: 0 auto;
  }
}

footer nav ul li {
  float: left;
  padding: 0 44px;
  border-left: 1px solid #ffffff;
}

@media (max-width: 1400px) {
  footer nav ul li {
    padding: 0 20px;
  }
}

@media (max-width: 645px) {
  footer nav ul li {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  footer nav ul li {
    margin-bottom: 10px;
  }
}

footer nav ul li a {
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-size: 20px;
  line-height: 1,5;
  letter-spacing: 5px;
}

@media (max-width: 480px) {
  footer nav ul li a {
    font-size: 14px;
  }
}

footer nav ul li:last-child {
  border-right: 1px solid #ffffff;
}

@media (max-width: 645px) {
  footer nav ul li:nth-child(2n) {
    border-right: 1px solid #ffffff;
  }
}

footer .logo {
  float: right;
}

@media (max-width: 1080px) {
  footer .logo {
    float: unset;
    width: 100%;
  }
}

footer .logo a {
  vertical-align: middle;
}

@media (max-width: 1080px) {
  footer .logo a {
    text-align: center;
  }
}

footer .logo a img {
  width: 40px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
}

@media (max-width: 1080px) {
  footer .logo a img {
    display: block;
    margin: 0 auto 12px;
  }
}

footer .logo a span {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 600;
  letter-spacing: 8px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 480px) {
  footer .logo a span {
    font-size: 22px;
  }
}

footer .copyright {
  width: 100%;
  float: left;
  font-size: 12px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 24px;
}

@media (max-width: 1080px) {
  footer .copyright {
    text-align: center;
  }
}

@media (max-width: 480px) {
  footer .copyright {
    margin-top: 12px;
  }
}

.home_kv {
  position: relative;
  padding: 0;
}

.home_kv .photo.pc {
  display: block;
}

.home_kv .photo.mob {
  display: none;
}

@media (max-width: 960px) {
  .home_kv .photo.pc {
    display: none;
  }
  .home_kv .photo.mob {
    display: block;
  }
}

.home_kv .home_kv_logo {
  width: 400px;
  height: 370px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 1400px) {
  .home_kv .home_kv_logo {
    width: 360px;
    height: 370px;
  }
}

@media (max-width: 600px) {
  .home_kv .home_kv_logo {
    width: 280px;
    height: 280px;
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .home_kv .home_kv_logo {
    width: 240px;
    height: 280px;
  }
}

.home_kv .home_kv_logo img {
  width: 254px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .home_kv .home_kv_logo img {
    width: 62%;
  }
}

@media (max-width: 600px) {
  .home_kv .home_kv_logo img {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .home_kv .home_kv_logo img {
    width: 160px;
  }
}

.home_kv .home_kv_logo h2 {
  font-size: 40px;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 600;
  color: #ffffff;
  text-align: justify;
  text-align-last: justify;
  white-space: nowrap;
  margin-top: 45px;
}

@media (max-width: 800px) {
  .home_kv .home_kv_logo h2 {
    font-size: 6vw;
  }
}

@media (max-width: 600px) {
  .home_kv .home_kv_logo h2 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .home_kv .home_kv_logo h2 {
    font-size: 28px;
  }
}

.home_kv .home_kv_logo p {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 16px;
  letter-spacing: 2px;
}

@media (max-width: 1400px) {
  .home_kv .home_kv_logo p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .home_kv .home_kv_logo p {
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  .home_kv .home_kv_logo p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .home_kv .home_kv_logo p {
    font-size: 12px;
  }
}

.home_works, .themepage_works {
  padding: 114px 0;
  background: #0d0d0d;
}

.home_works .content, .themepage_works .content {
  margin-top: 90px;
}

.home_works .content .worksitem, .themepage_works .content .worksitem {
  position: relative;
}

.home_works .content .worksitem .title, .themepage_works .content .worksitem .title {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: -30px;
  overflow: hidden;
}

.home_works .content .worksitem .title .year, .themepage_works .content .worksitem .title .year {
  position: absolute;
  right: -60px;
  top: 80px;
  text-align: left;
}

.home_works .content .worksitem .title h4, .themepage_works .content .worksitem .title h4 {
  font-weight: 400;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  right: 60px;
}

.home_works .content .worksitem .info, .themepage_works .content .worksitem .info {
  margin-top: 52px;
}

.home_news, .themepage_news {
  padding: 138px 0;
  background: #252525;
  overflow: hidden;
}

.home_news .topic, .themepage_news .topic {
  width: 350px;
  float: left;
}

@media (max-width: 960px) {
  .home_news .topic, .themepage_news .topic {
    width: 100%;
    margin-bottom: 90px;
  }
}

.home_news .topic h3, .home_news .topic .title_en, .themepage_news .topic h3, .themepage_news .topic .title_en {
  text-align: left;
}

@media (max-width: 960px) {
  .home_news .topic h3, .home_news .topic .title_en, .themepage_news .topic h3, .themepage_news .topic .title_en {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .home_news .topic.home_topic_news, .themepage_news .topic.home_topic_news {
    float: unset;
  }
}

.home_news .home_content_news, .home_news .themepage_content_news, .themepage_news .home_content_news, .themepage_news .themepage_content_news {
  width: calc(100% - 350px);
  float: right;
}

@media (max-width: 960px) {
  .home_news .home_content_news, .home_news .themepage_content_news, .themepage_news .home_content_news, .themepage_news .themepage_content_news {
    width: 100%;
  }
}

.home_news .home_content_news .newsitem, .home_news .themepage_content_news .newsitem, .themepage_news .home_content_news .newsitem, .themepage_news .themepage_content_news .newsitem {
  overflow: hidden;
  position: relative;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
}

.home_news .home_content_news .newsitem .date, .home_news .themepage_content_news .newsitem .date, .themepage_news .home_content_news .newsitem .date, .themepage_news .themepage_content_news .newsitem .date {
  width: 190px;
  float: left;
  font-size: 20px;
  line-height: 105px;
  color: #ffffff;
  opacity: 0.6;
}

@media (max-width: 960px) {
  .home_news .home_content_news .newsitem .date, .home_news .themepage_content_news .newsitem .date, .themepage_news .home_content_news .newsitem .date, .themepage_news .themepage_content_news .newsitem .date {
    width: 140px;
  }
}

.home_news .home_content_news .newsitem p, .home_news .themepage_content_news .newsitem p, .themepage_news .home_content_news .newsitem p, .themepage_news .themepage_content_news .newsitem p {
  width: calc(100% - 190px);
  float: left;
  color: #ffffff;
  font-size: 18px;
  line-height: 105px;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-right: 60px;
}

@media (max-width: 960px) {
  .home_news .home_content_news .newsitem p, .home_news .themepage_content_news .newsitem p, .themepage_news .home_content_news .newsitem p, .themepage_news .themepage_content_news .newsitem p {
    width: calc(100% - 140px);
    padding-right: 0;
  }
}

.home_news .home_content_news .newsitem:last-child, .home_news .themepage_content_news .newsitem:last-child, .themepage_news .home_content_news .newsitem:last-child, .themepage_news .themepage_content_news .newsitem:last-child {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
}

@media (max-width: 960px) {
  .home_news .home_content_news, .themepage_news .home_content_news {
    float: unset;
  }
}

.home_news .link, .themepage_news .link {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1400px) {
  .home_news .link, .themepage_news .link {
    left: 50px;
  }
}

@media (max-width: 960px) {
  .home_news .link, .themepage_news .link {
    position: relative;
    margin-top: 84px;
    left: auto;
    bottom: auto;
  }
}

.home_contactus, .themepage_contactus {
  padding: 172px 0;
  background: #0d0d0d;
  position: relative;
}

@media (max-width: 1080px) {
  .home_contactus, .themepage_contactus {
    padding: 200px 0 80px;
  }
}

.home_contactus .topic, .themepage_contactus .topic {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: -30px;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .home_contactus .topic, .themepage_contactus .topic {
    right: 40px;
  }
}

.home_contactus .topic h3, .themepage_contactus .topic h3 {
  color: #ffffff;
  font-size: 30px;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 400;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  right: 60px;
}

.home_contactus .topic .title_en, .themepage_contactus .topic .title_en {
  width: 100%;
  font-family: "Avignonpro", serif;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  opacity: 0.6;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -60px;
  top: 80px;
  margin-top: 0;
  text-align: left;
}

.home_contactus .contactusgroup .contactus_form, .themepage_contactus .contactusgroup .contactus_form {
  width: 512px;
  float: left;
  position: relative;
}

@media (max-width: 1080px) {
  .home_contactus .contactusgroup .contactus_form, .themepage_contactus .contactusgroup .contactus_form {
    width: 100%;
    float: unset;
    margin-top: 80px;
  }
}

.home_contactus .contactusgroup .contactus_form p, .themepage_contactus .contactusgroup .contactus_form p {
  color: #ffffff;
  font-size: 18px;
  line-height: 2;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 200;
  letter-spacing: 1px;
}

@media (max-width: 1080px) {
  .home_contactus .contactusgroup .contactus_form p, .themepage_contactus .contactusgroup .contactus_form p {
    text-align: center;
  }
}

.home_contactus .contactusgroup .contactus_form p span, .themepage_contactus .contactusgroup .contactus_form p span {
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  font-family: "SweiSpringCJKjp", serif;
}

@media (max-width: 1080px) {
  .home_contactus .contactusgroup .contactus_form p span, .themepage_contactus .contactusgroup .contactus_form p span {
    display: block;
    margin-top: 10px;
  }
}

.home_contactus .contactusgroup .contactus_form .item, .themepage_contactus .contactusgroup .contactus_form .item {
  border-bottom: 2px dotted #ffffff;
  overflow: hidden;
  padding: 16px 0 12px;
}

.home_contactus .contactusgroup .contactus_form .item.noline, .themepage_contactus .contactusgroup .contactus_form .item.noline {
  border-bottom: 0;
}

.home_contactus .contactusgroup .contactus_form .item span, .themepage_contactus .contactusgroup .contactus_form .item span {
  color: #ffffff;
}

.home_contactus .contactusgroup .contactus_form .item label, .themepage_contactus .contactusgroup .contactus_form .item label {
  width: 124px;
  float: left;
  color: #ffffff;
  font-size: 18px;
  line-height: 2;
  font-family: "SweiSpringCJKjp", serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.home_contactus .contactusgroup .contactus_form .item select, .home_contactus .contactusgroup .contactus_form .item input, .themepage_contactus .contactusgroup .contactus_form .item select, .themepage_contactus .contactusgroup .contactus_form .item input {
  width: calc(100% - 124px);
  height: 36px;
  float: right;
  background: transparent;
  color: #ffffff;
  outline: 0;
  border: 0;
  padding: 0;
}

.home_contactus .contactusgroup .contactus_form .item textarea, .themepage_contactus .contactusgroup .contactus_form .item textarea {
  width: 100%;
  height: 36px;
  background: transparent;
  color: #ffffff;
  outline: 0;
  border: 0;
  padding: 0;
  resize: none;
}

@media (max-width: 1080px) {
  .home_contactus .contactusgroup .contactus_form .item textarea, .themepage_contactus .contactusgroup .contactus_form .item textarea {
    height: 100px;
  }
}

.home_contactus .contactusgroup .contactus_form .item ::-webkit-input-placeholder, .home_contactus .contactusgroup .contactus_form .item select, .themepage_contactus .contactusgroup .contactus_form .item ::-webkit-input-placeholder, .themepage_contactus .contactusgroup .contactus_form .item select {
  color: #ffffff;
  opacity: 0.4;
  font-size: 14px;
}

.home_contactus .contactusgroup .contactus_form .item :-ms-input-placeholder, .home_contactus .contactusgroup .contactus_form .item select, .themepage_contactus .contactusgroup .contactus_form .item :-ms-input-placeholder, .themepage_contactus .contactusgroup .contactus_form .item select {
  color: #ffffff;
  opacity: 0.4;
  font-size: 14px;
}

.home_contactus .contactusgroup .contactus_form .item ::-ms-input-placeholder, .home_contactus .contactusgroup .contactus_form .item select, .themepage_contactus .contactusgroup .contactus_form .item ::-ms-input-placeholder, .themepage_contactus .contactusgroup .contactus_form .item select {
  color: #ffffff;
  opacity: 0.4;
  font-size: 14px;
}

.home_contactus .contactusgroup .contactus_form .item ::placeholder, .home_contactus .contactusgroup .contactus_form .item select, .themepage_contactus .contactusgroup .contactus_form .item ::placeholder, .themepage_contactus .contactusgroup .contactus_form .item select {
  color: #ffffff;
  opacity: 0.4;
  font-size: 14px;
}

.home_contactus .contactusgroup .contactus_form .item input[type="checkbox"], .themepage_contactus .contactusgroup .contactus_form .item input[type="checkbox"] {
  border: 1px solid #ffffff;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 8px;
}

.home_contactus .contactusgroup .contactus_form .item input[type="checkbox"]:checked, .themepage_contactus .contactusgroup .contactus_form .item input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
  background: url(../img/check.svg) 2px 2px no-repeat;
  background-size: 16px 16px;
}

.home_contactus .contactusgroup .contactus_form .item .checktxt, .themepage_contactus .contactusgroup .contactus_form .item .checktxt {
  width: calc(100% - 32px);
  float: right;
}

.home_contactus .contactusgroup .contactus_form .item .checktxt a, .themepage_contactus .contactusgroup .contactus_form .item .checktxt a {
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  display: inline-block;
  margin-left: 6px;
}

.home_contactus .contactusgroup .contactus_form button.send, .themepage_contactus .contactusgroup .contactus_form button.send {
  position: absolute;
  right: 0;
  bottom: 16px;
  font-size: 18px;
  background: transparent;
  color: #ffffff;
  opacity: 0.6;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
  padding: 0;
  font-family: "Avignonpro", serif;
  letter-spacing: 1px;
}

.home_contactus .contactusgroup .contactus_form button.send:hover, .themepage_contactus .contactusgroup .contactus_form button.send:hover {
  cursor: pointer;
}

.home_contactus .contactusgroup .contactus_photo, .themepage_contactus .contactusgroup .contactus_photo {
  width: calc(100% - 576px);
  height: 564px;
  float: right;
  background: url(../img/contactus.jpg) center top no-repeat;
  background-size: cover;
}

@media (max-width: 1080px) {
  .home_contactus .contactusgroup .contactus_photo, .themepage_contactus .contactusgroup .contactus_photo {
    width: 100%;
    height: 0;
    padding-bottom: 76%;
    float: unset;
  }
}

.slide-animation {
  -webkit-animation: slide-zoom 10s ease-out;
  animation: slide-zoom 10s ease-out;
}

@-webkit-keyframes slide-zoom {
  0% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes slide-zoom {
  0% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */