@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons{
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
      src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
    }
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'SweiSpringCJKjp';
    font-weight: 900;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-Black.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-Black.woff) format("woff");
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'SweiSpringCJKjp';
    font-weight: 800;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-Bold.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-Bold.woff) format("woff");
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'SweiSpringCJKjp';
    font-weight: 600;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-SemiBold.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-SemiBold.woff) format("woff");
}
@font-face {
    font-family: 'SweiSpringCJKjp';
    font-weight: 400;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-Medium.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-Medium.woff) format("woff");
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'SweiSpringCJKjp';
    font-weight: 300;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-Regular.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-Regular.woff) format("woff");
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'SweiSpringCJKjp';
    font-weight: 200;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-Light.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-Light.woff) format("woff");
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'SweiSpringCJKjp';
    font-weight: 100;
    src: url(../fonts/CJK_JP/SweiSpringCJKjp-ExtraLight.woff2) format("woff2"),
         url(../fonts/CJK_JP/SweiSpringCJKjp-ExtraLight.woff) format("woff");
}
@font-face {
    // font-family: SweiSpringCJKjp-Regular;
    font-family: 'Avignonpro';
    src: url(../fonts/Avignonpro/avignon_pro-book-webfont.woff2) format("woff2"),
         url(../fonts/Avignonpro/avignon_pro-book-webfont.woff) format("woff");
}

$_color1: #ffffff;
$_color2: #010101;
$_darkbg: #0d0d0d;
$_graybg: #252525;
$_font1: 'SweiSpringCJKjp',serif;
$_font2: 'Avignonpro',serif;


//setting
body{ font-family: "Noto Sans TC", sans-serif;}
*{ box-sizing: border-box; color: #000000; font-family: "Noto Sans TC", sans-serif;}
a, a:hover, a:active, a:visited{ text-decoration: none; display: block; transition: all .3s; outline: 0;}
img{ width: 100%; display: block;}


input, button, textarea{
  appearance:none;   
  -moz-appearance:none;   
  -webkit-appearance:none; 
  -ms-appearance:none; 
  border: 0;
  padding: 10px 20px;
  position: relative;
}

.popup{
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  .popup_content{
      text-align: center;
      background-color: #fff;
      color: #000000;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      &.popup_img{
          width: 600px;
          height: 600px;
          padding: 50px;
          @media (max-width:600px){
              width: 100vw;
              height: 100vw;
              padding: 10vw;
          }
      }
      &.popup_mov, iframe{
          width: 1080px;
          height: 608px;
          // padding: 50px;
          outline: 10px solid #fff;
          overflow: hidden;
          @media (max-width:1200px){
              width: 800px;
              height: 450px;
              // padding: 40px;
          }
          @media (max-width:1000px){
              width: 640px;
              height: 362px;
              // padding: 30px;
          }
          @media (max-width:660px){
              width: 400px;
              height: 226px;
          }
          @media (max-width:420px){
              width: 320px;
              height: 180px;
          }
          @media (max-width:400px){
              width: 280px;
              height: 157px;
          }
          // .content{
          //   width: auto;
          //   height: 100%;
          //   overflow: hidden;
          // }
      }
      &.popup_code{
          width: 500px;
          height: 500px;
          padding: 20px;
          @media (max-width:600px){
              width: 100vw;
              height: 100vw;
              padding: 10vw;
          }
      }
      &.popup_message{
          width: 320px;
          height: 60px;
          line-height: 60px;
      }
      .close{
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 10;
          right: 6px;
          top: 6px;
          text-align: center;
          i{
              font-size: 32px;
              line-height: 40px;
          }
          &:hover{
              cursor: pointer;
          }
      }
  }
  &.is_acted{
      opacity: 1;
      visibility: visible;
  }
}

.photo{
    .pc{ display: block;}
    .mob{ display: none;}
    @media (max-width:960px){
        .pc{ display: none;}
        .mob{ display: block;}
    }
}

h3 {
    color: $_color1;
    font-family: $_font1;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    letter-spacing: 5px;
}

h4 {
    color: $_color1;
    font-family: $_font1;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
}

h5 {
    color: $_color1;
    font-family: $_font1;
    font-size: 26px;
    line-height: 2.25;
    font-weight: 300;
    letter-spacing: 1px;
}

p{
    color: $_color1;
    font-family: $_font1;
    font-size: 18px;
    line-height: 2;
    font-weight: 100;
    margin-top: 16px;
    letter-spacing: 1px;
}

.year{
    width: 100%;
    font-family: $_font2;
    font-size: 30px;
    color: $_color1;
    letter-spacing: 2px;
    opacity: 0.6;
    transform: rotate(90deg);
    margin-top: 0;
}

.title_en {
    font-family: $_font2;
    font-size: 18px;
    color: $_color1;
    letter-spacing: 2px;
    opacity: 0.6;
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase;
}

section{
    position: relative;
}

.bg_title{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.04;
    z-index: 0;
}

.container{
    width: 1300px;
    margin: 0 auto;
    position: relative;
    display: table;
    @media (max-width:1400px){
        width: 100%;
        padding: 0 40px;
    }
}
.themepage_top{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;

    &.themepage_top_aboutus{
        height: 540px;
        background-image: url(../img/aboutus_titlebg.jpg);
        padding-top: 270px;
        @media (max-width:1080px){
            height: auto;
            padding: 200px 0 160px;
        }
    }
    &.themepage_top_news{
        height: 540px;
        background-image: url(../img/news_titlebg.jpg);
        padding-top: 180px;
    }
    &.themepage_top_news{
        height: 540px;
        background-image: url(../img/news_titlebg.jpg);
        padding-top: 270px;
    }
    &.themepage_top_newspage{
        height: 346px;
        background-image: url(../img/newspage_titlebg.jpg);
        padding-top: 180px;
    }
    &.themepage_top_works{
        height: 540px;
        background-image: url(../img/works_titlebg.jpg);
        padding-top: 270px;
    }
    &.themepage_top_workspage{
        height: 346px;
        background-image: url(../img/workspage_titlebg.jpg);
        padding-top: 180px;
    }
    &.themepage_top_contactus{
        height: 540px;
        background-image: url(../img/contactus_titlebg.jpg);
        padding-top: 270px;
    }
}
.content{
    width: 100%;
    display: table;

    &.themepage_content_aboutus{
        padding: 156px 0;
        background: $_darkbg;
}
    &.themepage_content_news{
        padding: 140px 0 100px;
        background: $_darkbg;
    }
    &.themepage_content_works, &.themepage_content_workspage{
        padding: 140px 0 124px;
        background: $_darkbg;
        @media (max-width:1080px){
            padding: 108px 0 96px;
        }
    }
    &.themepage_content_contactus{
        padding: 156px 0;
        background: $_darkbg;
        @media (max-width:1080px){
            padding: 0 0 80px;
        }
    }

}
.topic{
    &.home_topic_works{}
    &.home_topic_news{}
    &.home_topic_contactus{}
}
.themepage_topic{
    width: 340px;
    float: left;
    @media (max-width:1400px){
        // padding-left: 16px;
    }
    @media (max-width:960px){
        width: calc(365/1030*100%);
    }
    @media (max-width:680px){
        width: 100%;
    }

    h3, .title_en{
        text-align: left;
    }
}
    
.themepage_topicinfo{
    width: calc(100% - 340px);
    float: right;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: $_color1;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: -8px;
    letter-spacing: 2px;
    @media (max-width:960px){
        width: calc(665/1030*100%);
    }
    @media (max-width:680px){
        width: 100%;
        margin-top: 40px;
    }
}

.link{
    margin-top: 32px;
    display: inline-block;
    position: relative;
    opacity: 0.6;
    @media (max-width:960px){
        display: block;
        margin: 32px auto 0;
        width: 102px;
    }

    a{
        font-family: $_font2;
        font-size: 18px;
        line-height: 1.8;
        color: $_color1;
        letter-spacing: 2px;
    }
}

.link_underline{
    &:after{
        content: "";
        width: 100%;
        height: 1px;
        background: $_color1;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.link_border{
    width: 246px;
    border: 1px solid $_color1;
    border-radius: 21px;

    a{
        line-height: 2.2;
        transition: all 1s;
        position: relative;
        z-index: 2;
    }
    &:before{
        content:"";
        display: block;
        width: 0%;
        height: 100%;
        background: $_color1;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 1s;
        z-index: 1;
    }
    &:after{
        display: none;
    }

    &:hover{
        a{
            color: #000;
        }
        &:before{
            width: 100%;
        }
    }

}

.link_center_bottom{
    text-align: center;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}
