@import '_setting';
@import '_header';
@import '_footer';


.themepage_content_aboutus{
    h5{
        width: 100%;
        float: left;
        line-height: 1.6;
        text-align: left;
    }
    p{
        width: 100%;
        float: left;
        text-align: left;
        margin-top: 28px;
    }
    .photogroup{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width:960px){
            flex-wrap: wrap;
        }
        .photo{
            width: 100%;
            position: relative;
            margin-top: 48px;
            @media (max-width:960px){
                margin-top: 10px;
            }
            span{
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: $_color1;
                font-size: 14px;
            }
        }
    }
}