@import '_setting';
@import '_header';
@import '_footer';

.themepage_contactus{
    padding: 0;
    .themepage_top_contactus{
        .topic{
            width: 340px;
            height: auto;
            position: static;
            right: auto;
            top: auto;
            h3{
                writing-mode: unset;
                position: static;
                right: auto;
                top: auto;
            }
            .title_en{
                font-size: 18px;
                transform: rotate(0deg);
                position: static;
                right: auto;
                top: auto;
            }
        }

    }
}

.themepage_content_contactus{
    .contactusgroup{
        .contactus_photo{
            margin-top: 60px;
        }
    }
}