@import '_setting';
@import '_header';
@import '_footer';


.home_kv{
    position: relative;
    padding: 0;

    .photo{
        &.pc{ display: block;}
        &.mob{ display: none;}
        @media (max-width:960px){
            &.pc{ display: none;}
            &.mob{ display: block;}
        }
    }

    .home_kv_logo{
        width: 400px;
        height: 370px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        animation: logo_ani 3s 1s both;
        @media (max-width:1400px){
            width: 360px;
            height: 370px;
        }
        @media (max-width:600px){
            width: 280px;
            height: 280px;
            padding-bottom: 0;
        }
        @media (max-width:480px){
            width: 240px;
            height: 280px;
        }
        img{
            width: 254px;
            margin: 0 auto;
            @media (max-width:960px){
                width: 62%;
            }
            @media (max-width:600px){
                width: 180px;
            }
            @media (max-width:480px){
                width: 160px;
            }
        }
        h2{
            font-size: 40px;
            font-family: $_font1;
            font-weight: 600;
            color: $_color1;
            text-align:justify; 
            text-align-last:justify;
            white-space:nowrap;
            margin-top: 45px;
            // outline: 1px solid red;
            @media (max-width:800px){
                font-size: 6vw;
            }
            @media (max-width:600px){
                font-size: 32px;
            }
            @media (max-width:480px){
                font-size: 28px;
            }

        }
        p{
            font-size: 24px;
            text-align: center;
            color: $_color1;
            text-transform: uppercase;
            font-weight: 100;
            margin-top: 16px;
            letter-spacing: 2px;
            @media (max-width:1400px){
                font-size: 20px;
            }
            @media (max-width:800px){
                font-size: 3vw;
            }
            @media (max-width:600px){
                font-size: 12px;
            }
            @media (max-width:480px){
                font-size: 12px;
            }
        }
    }
}

.home_works, .themepage_works{
    padding: 114px 0;
    background: $_darkbg;

    .content{
        margin-top: 90px;
        .worksitem{
            position: relative;
            .title{
                width: 200px;
                height: 200px;
                position: absolute;
                z-index: 5;
                right: 0;
                top: -30px;
                overflow: hidden;
                .year{
                    position: absolute;
                    right: -60px;
                    top: 80px;
                    text-align: left;
                }
                h4{
                    font-weight: 400;
                    writing-mode: vertical-lr;
                    position: absolute;
                    top: 0;
                    right: 60px;
                }
            }
            .info{
                margin-top: 52px;
            }
            .photo{
                animation: photo_ani 3s 1.5s both;
            }
        }
    }

}

.home_news, .themepage_news{
    padding: 138px 0;
    background: $_graybg;
    overflow: hidden;
    .topic{
        width: 350px;
        float: left;
        @media (max-width:960px){
            width: 100%;
            margin-bottom: 90px;
        }

        h3,.title_en{
            text-align: left;
            @media (max-width:960px){
                text-align: center;
            }
        }

        &.home_topic_news{
            @media (max-width:960px){
                float: unset;
            }
        }
    }
    .home_content_news, .themepage_content_news{
        width: calc(100% - 350px);
        float: right;
        @media (max-width:960px){
            width: 100%;
        }
        .newsitem{
            overflow: hidden;
            position: relative;
            border-top: 2px dotted rgba(255,255,255,.5);

            .date{
                width: 190px;
                float: left;
                font-size: 20px;
                line-height: 105px;
                color: $_color1;
                opacity: 0.6;
                transition: all .3s;
                @media (max-width:960px){
                    width: 140px;
                }
            }
            p{
                width: calc(100% - 190px);
                float: left;
                color: $_color1;
                font-size: 18px;
                line-height: 105px;
                font-family: $_font1;
                font-weight: 300;
                letter-spacing: 1px;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                padding-right: 60px;
                transition: all .3s;
                @media (max-width:960px){
                    width: calc(100% - 140px);
                    padding-right: 0;
                }

            }

            &:last-child{
                border-bottom: 2px dotted rgba(255,255,255,.5);
            }

            &:hover{
                .date, p{
                    opacity: 0.4;
                }
            }
        }
    }

    .home_content_news{
        @media (max-width:960px){
            float: unset;
        }
    }

    .link{
        position: absolute;
        left: 0;
        bottom: 0;
        @media (max-width:1400px){
            left: 50px;
        }
        @media (max-width:960px){
            position: relative;
            margin-top: 84px;
            left: auto;
            bottom: auto;
        }
    }
}

.home_contactus, .themepage_contactus{
    padding: 172px 0;
    background: $_darkbg;
    position: relative;
    @media (max-width:1080px){
        padding: 200px 0 80px;
    }
    .topic{
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: 5;
        right: 0;
        top: -30px;
        overflow: hidden; 
        @media (max-width:1400px){
            right: 40px;
            // top: 0;
        }
        h3{
            color: $_color1;
            font-size: 30px;
            font-family: $_font1;
            font-weight: 400;
            writing-mode: vertical-lr;
            position: absolute;
            top: 0;
            right: 60px;
        }
        .title_en{
            width: 100%;
            font-family: $_font2;
            font-size: 30px;
            color: $_color1;
            letter-spacing: 2px;
            opacity: 0.6;
            transform: rotate(90deg);
            position: absolute;
            right: -60px;
            top: 80px;
            margin-top: 0;
            text-align: left;
        }
    }
    .contactusgroup{
        .contactus_form{
            width: 512px;
            float: left;
            position: relative;
            @media (max-width:1080px){
                width: 100%;
                float: unset;
                margin-top: 80px;
            }
            p{
                color: $_color1;
                font-size: 18px;
                line-height: 2;
                font-family: $_font1;
                font-weight: 200;
                letter-spacing: 1px;
                @media (max-width:1080px){
                    text-align: center;
                }
                span{
                    color: $_color1;
                    opacity: 0.6;
                    font-size: 14px;
                    font-family: $_font1;
                    @media (max-width:1080px){
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
            .item{
                border-bottom: 2px dotted $_color1;
                overflow: hidden;
                padding: 16px 0 12px;

                &.noline{
                    border-bottom: 0;
                }
                span{
                    color: $_color1;
                }
                label{
                    width: 124px;
                    float: left;
                    color: $_color1;
                    font-size: 18px;
                    line-height: 2;
                    font-family: $_font1;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
                select, input{
                    width: calc(100% - 124px);
                    height: 36px;
                    float: right;
                    background: transparent;
                    color: $_color1;
                    outline: 0;
                    border: 0;
                    padding: 0;
                }
                textarea{
                    width: 100%;
                    height: 36px;
                    background: transparent;
                    color: $_color1;
                    outline: 0;
                    border: 0;
                    padding: 0;
                    resize: none;
                    @media (max-width:1080px){
                        height: 100px;
                    }
                }
                ::placeholder, select{
                    color: $_color1;
                    opacity: 0.4;
                    font-size: 14px;
                }
                input[type="checkbox"]{
                    border: 1px solid $_color1;
                    width: 20px;
                    height: 20px;
                    float: left;
                    margin-top: 8px;

                    &:checked{
                        width: 20px;
                        height: 20px;
                        background: url(../img/check.svg) 2px 2px no-repeat;
                        background-size: 16px 16px;
                    }
                }
                .checktxt{
                    width: calc(100% - 32px);
                    float: right;
                    a{
                        color: $_color1;
                        opacity: 0.6;
                        font-size: 14px;
                        display: inline-block;
                        margin-left: 6px;
                    }
                }
            }
            button.send{
                position: absolute;
                right: 0;
                bottom: 16px;
                font-size: 18px;
                background: transparent;
                color: $_color1;
                opacity: 0.6;
                border-bottom: 1px solid $_color1;
                text-transform: uppercase;
                padding: 0;
                font-family: $_font2;
                letter-spacing: 1px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .contactus_photo{
            width: calc(100% - 576px);
            height: 564px;
            float: right;
            background: url(../img/contactus.jpg) center top no-repeat;
            background-size: cover;
            animation: photo_ani 3s 1.5s both;
            @media (max-width:1080px){
                width: 100%;
                height: 0;
                padding-bottom: 76%;
                float: unset;
            }
        }
    }
}

.home_contactus .topic .title_en span.animate_e{
    margin-right: -8px;
}

.slide-animation {
    -webkit-animation: slide-zoom 10s ease-out;
    animation: slide-zoom 10s ease-out
}

@keyframes slide-zoom {
    0% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes logo_ani{
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes photo_ani{
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}