@import '_setting';
@import '_header';
@import '_footer';


.themepage_news{
    padding: 0;
    .topic{
        h3,.title_en{
            @media (max-width:960px){
                text-align: left;
            }
        }
    }
    .themepage_content_news{
        width: 100%;
        .newsgroup{
            width: 100%;
            float: unset;
            .newsitem{
                p{
                    @media (max-width:960px){
                        line-height: 2;
                        padding-top: 16px;
                        -webkit-line-clamp: 2;
                    }
    
                }
            }
        }
    }
    
    .link_center_bottom{
        margin: 90px auto 0;
        position: relative;
        bottom: auto;
        left: auto;
    }
}


.themepage_content_newspage{

    .pagenews_group{
        border-bottom: 2px dotted rgba(255,255,255,.5);
        padding-bottom: 60px;

        .title{
            overflow: hidden;
            border-bottom: 2px dotted rgba(255,255,255,.5);

            h5{
                width: calc(100% - 120px);
                float: left;
                font-size: 26px;
                line-height: 1.6;
                text-align: left;
                color: $_color1;
                font-family: $_font1;
                font-weight: 300;
                letter-spacing: 2px;
            }
            .date{
                width: 120px;
                float: right;
                font-size: 18px;
                line-height: 2.4;
                text-align: right;
                color: $_color1;
                font-family: $_font1;
                font-weight: 100;
                letter-spacing: 2px;
            }
        }

        .content{
            p{
                width: 100%;
                font-size: 18px;
                line-height: 2;
                text-align: left;
                color: $_color1;
                font-family: $_font1;
                font-weight: 100;
                letter-spacing: 2px;
                margin-top: 40px;
            }

            .group{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // align-items: flex-start;
                @media (max-width:960px){
                    flex-wrap: wrap;
                }
                .item{
                    width: 100%;
                    margin-right: 60px;
                    position: relative;

                    &:last-child{
                        margin-right: 0;
                    }

                    img{
                        margin-top: 40px;
                    }

                    span{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        color: $_color1;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .link_center_bottom{
        margin: 100px auto 0;
        position: relative;
        bottom: auto;
        left: auto;
    }
}